ENV=development

SERVER_SHUTDOWNTIMEOUT=15

DB_PORT=3306
DB_HOST=localhost
DB_NAME=spbibot
DB_USERNAME=root
DB_USERNAME_PWD=<DATABASE_ROOT_PASSWORD>
TIMEOUT=2
USERID_HASH_COST=1

CLIENT_ID=<ASK_YOUR_TEAMLEAD>
CLIENT_SECRET=<ASK_YOUR_TEAMLEAD>
TENANT_ID=common
RESPONSE_MODE=query
RESPONSE_TYPE=code
POWER_BI_RESOURCE=https://analysis.windows.net/powerbi/api
POWERBICLIENT_APIURL=https://api.powerbi.com/v1.0/myorg

SLACK_VERIFYREQUESTS=true
SLACK_CLIENT_ID=<YOUR_SLACK_APP_CLIENT_ID>
SLACK_CLIENT_SECRET=<YOUR_SLACK_APP_CLIENT_SECRET>
SLACK_SIGN_IN_SECRET=<YOUR_SLACK_APP_SIGN_IN_SECRET>

AMPLITUDE_API_KEY=<ASK_YOUR_TEAMLEAD>

LOGGER_LEVEL=debug
LOGGER_ENCODING=json
LOGGER_LEVELENCODER=lowercase
LOGGER_MAXSIZEMB=128
LOGGER_MAXAGEDAYS=84
LOGGER_MAXBACKUPS=8
LOGGER_BATCHSIZE=2

FEATURETOGGLES_REPORTSCHEDULING=true
FEATURETOGGLES_DELETEDCHANNELS_HANDLER=false
FEATURETOGGLES_PAYMENT_INTRODUCTION=false

BROWSER_HEADLESS=false
BROWSER_REDIRECTLOG=false
BROWSER_TABTIMEOUT=5m
BROWSER_MINACTIONTIMEOUT=15s
BROWSER_DEFAULTVIEWPORTHEIGHT=720
BROWSER_DEFAULTVIEWPORTWIDTH=1280
BROWSER_VIEWPORTMARGIN=64
BROWSER_DISPLAYDENSITY=1.0
BROWSER_RESOURCESDIRECTORY=resources
BROWSER_SCREENSHOTDELAY=2s

REQUESTLOGGING_ENABLE=true
REQUESTLOGGING_DUMPBODY=false

TESTAPI_CLIENTKEY=<ASK_YOUR_TEAMLEAD>
TESTAPI_ENABLE=true

MQ_IMPLEMENTATION=sqs
MQ_URL=<YOUR_MQ_URL>
MQ_BATCHSIZE=8
MQ_POLLINGINTERVAL=20s

AWS_ACCESSKEYID=<YOUR_AWS_ACCESSKEYID>
AWS_ACCESSKEY=<YOUR_AWS_ACCESSKEY>
AWS_REGION=us-east-2
AWS_LOGREQUESTS=true

MESSAGEHANDLER_CONCURRENCYLEVEL=8
